---
import { Image } from 'astro:assets';
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';
import Header from '../components/Header.astro';

interface Props extends CollectionEntry<'blog'>['data'] {
    id: string;
}

const { title, description, pubDate, updatedDate, heroImage, id } = Astro.props;
const ogImage = `${import.meta.env.BASE_URL}og/${id}.png`;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} image={ogImage} />
		<style>
			.title {
				margin-bottom: 1em;
				text-align: center;
				line-height: 1;
			}
			.title h1 {
				margin: 0 0 0.5em 0;
			}
			.date {
				margin-bottom: 0.5em;
				color: rgb(var(--gray));
			}
			.last-updated-on {
				font-style: italic;
			}
            hr {
                border-top: 1px solid #ddd;
				margin: 1rem 0;
            }
		</style>
	</head>

	<body>
		<Header />
		<main>
			<article>
				<div class="prose">
					<div class="title">
						<div class="date">
							<FormattedDate date={pubDate} />
							{
								updatedDate && (
									<div class="last-updated-on">
										Last updated on <FormattedDate date={updatedDate} />
									</div>
								)
							}
						</div>
						<h1>{title}</h1>
						<hr />
					</div>
                    {heroImage && <Image width={1020} height={510} src={heroImage} alt="" style="width: 100%; height: auto; border-radius: 8px; margin-bottom: 1em;" />}
					<slot />
				</div>
			</article>
		</main>
		<Footer />
	</body>
</html>
